.categoryData {
    display: flex;
}

.filterHead {
    padding: 10px;
    margin: 0;
    margin: 2px 0;
}

.categoryFilter {
    width: 215em;
    background-color: whitesmoke;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    min-height: 35rem;
    user-select: none;
}

.filterBtn {
    display: flex;
    width: fit-content;
    background-color: #ff5200;
    color: white;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-block: 1px solid lightgrey;
}

.filterItems {
    padding: 4px 15px;
}

.submenuOption {
    font-weight: 500;
}

.category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categoryItems {
    flex: 1 1 calc(30% - 20px);
    max-width: calc(33% - 20px);
    gap: 20px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}

.categoryItems:hover {
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px aliceblue;
    transform: translateY(-10px);
}

.categoryImg {
    width: auto;
}

.categoryImg img {
    width: 100%;
    aspect-ratio: 9/5;
    border-radius: 5px;
}

.itemDetails {
    width: auto;
}

.itemName {
    font-size: large;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter {
    display: flex;
    align-items: center;
}

.spinner {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 30rem;
}

.filterIcon {
    display: none;
}

@media screen and (max-width:768px) {
    .itemName {
        font-size: medium;
    }
}

@media screen and (max-width:480px) {
    .itemName {
        font-size: small;
        /* min-height: 5.8rem; */
    }

    .filterIcon {
        display: flex;
        position: absolute;
        z-index: 999;
        right: 0;
        left: 0;
        justify-content: flex-end;
        height: fit-content;
        margin-right: 0.3rem;
    }

    .category {
        position: relative;
        top: 2rem;
        gap: 0;
        justify-content: space-between;
    }

    .categoryFilter {
        position: absolute;
        z-index: 999;
        width: -webkit-fill-available;
        top: 5rem;
    }

    .categoryItems {
        flex: 1 1 calc(30% - 20px);
        min-width: calc(50% - 20px);
    }

    .filterHide {
        visibility: hidden;
    }

    .filterShow {
        visibility: visible;
    }

}