.login {
    position: fixed;
    z-index: 999;
    justify-self: center;
    width: 30%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: anchor-center;
    justify-self: center;
    align-content: center;
    background-color: white;
    backdrop-filter: blur(5px);
    padding: 40px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px lightgrey;
    top: -20rem;
    transition: top 0.5s ease-in-out;
}

.login_show {
    top: 2rem;
}

.login_hide {
    top: -70rem;
}

.login_form {
    width: 80%;
    justify-items: center;
    justify-self: center;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}

.login_header {
    margin: 0;
    color: black;
}

.closeLoginmodal{
    cursor: pointer;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-self: end;
    top: 17px;
    right: 1rem;
}

.login_show_pass {
    width: 1.5%;
    position: absolute;
    z-index: 999;
}

.pass_show_hide {
    width: 22px;
    position: absolute;
    z-index: 999;
    align-self: center;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    user-select: none;
}

.user_data,
.loginpass {
    width: 100%;
}

.loginpass {
    position: relative;
}

.login_pass {
    outline: none;
}

.login_username,
.login_pass {
    width: 97%;
    height: 2rem;
    border: 1px solid black;
    background-color: #F6F4F9;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
}

.login_username:focus-visible,
.login_pass:focus-visible {
    outline: 1px solid lightgrey;
}

.login_username::placeholder,
.login_pass::placeholder {
    color: #C0BFCF;
    user-select: none;
}

.login_btn {
    width: 100%;
    /* height: 2rem; */
    font-size: larger;
    color: white;
    background-color: #3E49FE;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    justify-self: center;
}

.srtSignupBtn {
    font-size: large;
}

.srtSignupBtn a {
    color: #3E49FE;
    font-weight: 500;
}

@media screen and (max-width:1024px) {
    .login{
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .login{
        width: 70%;
    }
}

@media screen and (max-width:480px) {
    .login {
        padding: 0;
    }

    .login_form {
        /* padding: 0; */
        width: 60%;
    }

    .login_show {
        padding: 0;
        left: 0;
        right: 0;
        width: 90%;
    }
}