input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px none inset !important;
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: white;
    caret-color: white;
}

.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: aqua;
    padding: 0 200px;
}

.login_form {
    justify-items: center;
    justify-self: center;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
}

.login_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #262C34;
    border-radius: 10px;
    gap: 20px;
    color: white;
    padding: 70px 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.admin_page_logo {
    width: 10%;
    justify-self: center;
    border-radius: 10px;
}

.login_header {
    color: black;
    align-self: center;
}

.login_header h1 {
    font-size: 27px;
    color: whitesmoke;
    font-weight: bolder;
}

.login_header p {
    text-align: center;
    font-weight: 500;
    color: rgb(97, 96, 96);
}

.login_user_icon {
    align-self: center;
}

.login_pass_icon {
    align-self: center;
}

.login_show_pass {
    width: 1.5%;
    position: absolute;
    z-index: 999;
}

.pass_show_hide {
    width: 22px;
    position: absolute;
    z-index: 999;
    align-self: center;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    user-select: none;
}

.user_data,
.loginpass {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 5px;
}

.loginpass {
    position: relative;
}

.login_pass {
    outline: none;
}

.login_username,
.login_pass {
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid whitesmoke;
    font-size: 25px;
    color: white;
}

.login_username:focus-visible,
.login_pass:focus-visible {
    outline: 0;
    border-bottom: 1px solid #5F83E6;
}

.login_btn {
    width: 100%;
    height: 2rem;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #5F83E6;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    margin-top: 1rem;
}

.login_btn:hover {
    background-color: #476ad1;
}

.login p {
    align-self: center;
}

@media screen and (max-width: 768px) {
    .login {
        max-width: 100%;
        padding: 25px;
    }

    .login_form{
        width: 80%;
    }

    .login_header h1 {
        font-size: 24px;
    }
}

@media screen and (max-width:480px) {
    .login{
        max-width: 100%;
        padding: 0 25px;
    }

    .login_data {
        padding: 20px 0;
    }

    .login_form{
        width: 80%;
    }

    .login_header h1 {
        font-size: 22px;
    }

    .login_username,
    .login_pass {
        font-size: 16px;
    }

    .login_btn {
        font-size: 18px;
        height: 2.2rem;
    }
}