:root{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

:root:has(.loading-bar) {
  min-height: 60vw;
  align-content: center;
}

.loading-bar {
  width: 5%;
  display: flex;
  justify-self: center;
}
